ProductsClient/ProductsClient/Service References/ProductsService/ProductsService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Products" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Products" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductData" nillable="true" type="tns:ProductData" />
</xs:schema>